# Deploy google-apps-script/Code.gs to your Google Sheet, then paste the web app URL here:
EXPO_PUBLIC_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbzLU1DpA0okU0WJi545JEketh0OrMRYAiVCKeU-gBtes5pz7elQ0zvSr8CQ2e7njcUebQ/exec
